{
    "openapi": "3.0.3",
    "info": {
        "title": "My Notes - OpenAPI 3.0",
        "description": "This is a Notes Server based on the OpenAPI 3.0 specification.",
        "termsOfService": "http://my-notes.io/terms/",
        "contact": {
            "email": "support@my-notes.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Find out more about My Notes",
        "url": "https://my-notes.io"
    },
    "servers": [
        {
            "url": "https://api.my-notes.io",
            "description": "Prod"
        },
        {
            "url": "https://sandbox.api.my-notes.io",
            "description": "Sandbox"
        }
    ],
    "tags": [
        {
            "name": "Notes"
        },
        {
            "name": "Auth"
        }
    ],
    "paths": {
        "/v1/notes": {
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "List all Notes",
                "description": "List all available notes.",
                "operationId": "list-notes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/note"
                                            }
                                        },
                                        "limit": {
                                            "$ref": "#/components/schemas/limit"
                                        },
                                        "offset": {
                                            "$ref": "#/components/schemas/offset"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Notes"
                ],
                "summary": "Create a Note",
                "description": "Create a new note.",
                "operationId": "create-note",
                "requestBody": {
                    "description": "Create a new note",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/note"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/notes/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "schema": {
                        "$ref": "#/components/schemas/note/properties/id"
                    },
                    "required": true
                }
            ],
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "Retrieve a Note",
                "description": "Retrieve a note",
                "operationId": "retrieve-note",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Notes"
                ],
                "summary": "Replace a Note",
                "description": "Update an existing note",
                "operationId": "replace-note",
                "requestBody": {
                    "description": "Update an existing note",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/note"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Notes"
                ],
                "summary": "Delete a Note",
                "description": "Delete an existing note",
                "operationId": "delete-note",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a User",
                "description": "Registers a new user.",
                "operationId": "register-user",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/user"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Generate an Access Token",
                "description": "Generate an access token to access other endpoints of the API.",
                "operationId": "generate-token",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "note": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": true
                    },
                    "title": {
                        "type": "string",
                        "example": "title"
                    },
                    "content": {
                        "type": "string",
                        "example": "content"
                    },
                    "created_date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modified_date": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "offset": {
                "type": "integer"
            },
            "limit": {
                "type": "integer"
            },
            "user": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "error": {
                "type": "object",
                "properties": {
                    "error_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "error_code": {
                        "type": "string"
                    },
                    "error_description": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            }
        }
    }
}