{
    "openapi": "3.0.3",
    "info": {
        "title": "My Notes - OpenAPI 3.0",
        "description": "This is a Notes Server based on the OpenAPI 3.0 specification.",
        "termsOfService": "https://my-notes.io/terms/",
        "contact": {
            "email": "support@my-notes.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Find out more about My Notes",
        "url": "https://my-notes.io"
    },
    "servers": [
        {
            "url": "https://api.my-notes.io",
            "description": "Prod"
        },
        {
            "url": "https://sandbox.api.my-notes.io",
            "description": "Sandbox"
        }
    ],
    "tags": [
        {
            "name": "Notes"
        },
        {
            "name": "Auth"
        }
    ],
    "paths": {
        "/v1/notes": {
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "List all Notes",
                "description": "List all available notes.",
                "operationId": "list-notes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/note"
                                            }
                                        },
                                        "limit": {
                                            "$ref": "#/components/schemas/limit"
                                        },
                                        "offset": {
                                            "$ref": "#/components/schemas/offset"
                                        },
                                        "total": {
                                            "$ref": "#/components/schemas/total"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Notes"
                ],
                "summary": "Create a Note",
                "description": "Create a new note.",
                "operationId": "create-note",
                "requestBody": {
                    "description": "Create a new note",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/note"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/notes/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "schema": {
                        "$ref": "#/components/schemas/id"
                    },
                    "required": true
                }
            ],
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "Retrieve a Note",
                "description": "Retrieve a note",
                "operationId": "retrieve-note",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Notes"
                ],
                "summary": "Update a Note",
                "description": "Update an existing note",
                "operationId": "update-note",
                "requestBody": {
                    "description": "Update an existing note",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/note"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/note"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Notes"
                ],
                "summary": "Delete a Note",
                "description": "Delete an existing note",
                "operationId": "delete-note",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Create a User",
                "description": "Creates a new user.",
                "operationId": "create-user",
                "requestBody": {
                    "description": "Create a new user.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/user"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/authenticate": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Generate an Access Token",
                "description": "Generate an access token to access other endpoints of the API.",
                "operationId": "generate-token",
                "requestBody": {
                    "description": "Authenticate a user.",
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "id": {
                "type": "string",
                "description": "A unique identifier for a note.",
                "format": "uuid",
                "readOnly": true
            },
            "note": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/id"
                    },
                    "title": {
                        "type": "string",
                        "description": "Title of the note.",
                        "example": "My shopping list"
                    },
                    "content": {
                        "type": "string",
                        "description": "The content of the note.",
                        "example": "1. Milk\n2. Apples\n3. Bread"
                    },
                    "created_at": {
                        "type": "string",
                        "description": "The timestamp the note was created.",
                        "format": "date-time"
                    },
                    "modified_at": {
                        "type": "string",
                        "description": "The timestamp the note was last modified.",
                        "format": "date-time"
                    }
                }
            },
            "offset": {
                "type": "integer",
                "description": "Pointer to navigate between pages.",
                "minimum": 0,
                "example": 10
            },
            "limit": {
                "type": "integer",
                "description": "Number of notes to be returned in each page.",
                "minimum": 1,
                "maximum": 10,
                "example": 10
            },
            "total": {
                "type": "integer",
                "description": "Total number of notes.",
                "minimum": 0,
                "example": 15
            },
            "user": {
                "type": "object",
                "properties": {
                    "first_name": {
                        "type": "string",
                        "description": "First name of the user.",
                        "minLength": 1,
                        "maxLength": 30,
                        "example": "Jane"
                    },
                    "last_name": {
                        "type": "string",
                        "description": "Last name of the user.",
                        "minLength": 1,
                        "maxLength": 30,
                        "example": "Doe"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email ID used to sign up for My Notes.",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "description": "Password for My Notes.",
                        "minLength": 8
                    }
                }
            },
            "error": {
                "type": "object",
                "properties": {
                    "error_id": {
                        "type": "string",
                        "description": "Unique ID to help debug the error.",
                        "format": "uuid"
                    },
                    "error_code": {
                        "type": "string",
                        "description": "Error code."
                    },
                    "error_description": {
                        "type": "string",
                        "description": "Error description."
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Timestamp the error occurred.",
                        "format": "date-time"
                    }
                }
            }
        }
    }
}